:host {
  display: block;
}

.products {
  background: var(--background);
  scroll-margin-top: 120px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}

@media (min-width: 640px) {
  .products__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  .products__grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
}
